/***********************************************************************************************************************
DOCUMENT: style/format.css
DEVELOPED BY: Ryan Stemkoski
COMPANY: Zipline Interactive
EMAIL: ryan@gozipline.com
PHONE: 509-321-2849
DATE: 2/26/2009
DESCRIPTION: This document contains the structural formatting files for the accordion style menu.
************************************************************************************************************************/
#wrapper {
	width: 800px;
	margin-left: auto;
	margin-right: auto;
	}

.accordionButton {	
	width: 770px;
	float: left;
	_float: none;  /* Float works in all browsers but IE6 */
	background: #F7F6F6;
	border-bottom: 1px solid #FFFFFF;
	cursor: pointer;
	padding-top:5px;
	padding-bottom:3px;
	padding-left:15px;
	padding-right:15px;
	margin-top:0px;
	font-size:16px;
	}
	
.accordionContent {	
	width: 770px;
	float: left;
	_float: none; /* Float works in all browsers but IE6 */
	background: #F7F6F6;
	padding-top:0px;
	padding-bottom:30px;
	padding-left:15px;
	padding-right:15px;
	border-bottom:dotted 1px #999999;
	}
	
/***********************************************************************************************************************
 EXTRA STYLES ADDED FOR MOUSEOVER / ACTIVE EVENTS
************************************************************************************************************************/

.on {
	background: #F37614;
	color:#FFF;
	}
	
.over {
	background: #CCCCCC;
	}